@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto Slab Variable', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.25rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: 0.875rem;
    }

    h6{
        font-size: 0.75rem;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}

.wpcf7-form-control {
    @apply border border-black p-2 w-full resize-none;
}

.wpcf7-form {
    @apply max-w-sm;
}

.wpcf7-submit {
    @apply bg-black text-white p-2 hover:bg-blast-off hover:text-black text-2xl font-bold;
}