@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto Slab Variable', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.25rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: 0.875rem;
    }

    h6{
        font-size: 0.75rem;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}