---
import CommonHead from "../components/CommonHead.astro";
---

<html lang="en">
    <CommonHead title={'Not found'} description={'Not found'} />
    <body class="bg-indigo-950 flex flex-col min-h-screen mx-auto justify-center items-center text-white">
        <h2>
            Not found
        </h2>
        <p>
            The page you are looking for does not exist.
        </p>
        <button class="bg-event-horizon hover:bg-blast-off font-bold py-2 px-4 rounded mt-3">
            <a href="/">Go back home</a>
        </button>
    </body>
</html>
