---
import { Image } from 'astro:assets';
import { joinClasses } from '../utils/joinClasses';

type Props = {
    classes: string;
    styles: string;
    url?: string;
    height?: number;
    width?: number;
};

const { classes, styles, url, height, width } = Astro.props;
---

<div class={joinClasses(classes, 'relative')} style={styles}>
    {
        !!url && (
            <Image
                class="absolute w-full object-cover h-full !max-w-full"
                height={height || 1000}
                width={width || 1000}
                src={url}
                alt={'Background hero'}
            />
        )
    }
    <div class="z-10 relative">
        <slot />
    </div>
</div>
