---
    
---

<form method="get">
    <fieldset class="pb-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2">
        <div>
            <label for="bedrooms">
                <strong>Min bedrooms</strong>
            </label>
            <input class="w-full py-1 px-2 border border-event-horizon rounded-sm" type="number" name="bedrooms">
        </div>
        <div>
            <label for="bathrooms">
                <strong>Min bathrooms</strong>
            </label>
            <input class="w-full py-1 px-2 border border-event-horizon rounded-sm" type="number" name="bathrooms">
        </div>
        <div>
            <label for="minPrice">
                <strong>Min price</strong>
            </label>
            <input class="w-full py-1 px-2 border border-event-horizon rounded-sm" type="number" name="minPrice">
        </div>
        <div>
            <label for="maxPrice">
                <strong>Max Price</strong>
            </label>
            <input class="w-full py-1 px-2 border border-event-horizon rounded-sm" type="number" name="maxPrice">
        </div>
    </fieldset>
    <button type="submit" class="w-full text-white inline-block uppercase font-bold tracking-[0.08em] bg-event-horizon rounded-full py-3 px-6">Search</button>
</form>